body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Arial', sans-serif;
  }
  
  .calculator {
    width: 240px; /* Ancho fijo para una apariencia más angosta */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    width: 91%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: right;
    background-color: #e6e6e6;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #dcdcdc;
  }
  
  .button[data-op] {
    color: #fff;
    background-color: #fa8231;
  }
  
  .button[data-op]:hover {
    background-color: #ff9f45;
  }
  
  .button[data-func] {
    color: #fff;
    background-color: #eb3b5a;
  }
  
  .button[data-func]:hover {
    background-color: #fc5c65;
  }
  
